%div.row-fluid.span12.no-margin#main-wrapper
  %div#main-secondary-wrapper.row-fluid
    %div#main-left-panel.span3.row-fluid
      %div#main-left-center.span10.offset1
        %header#main-header-area
          %h3#main-header Guitar Tracker
        %div#main-left-panel-controls
          %button{href: "#", class: "btn"}Add Guitar
    %div#main-right-panel.span9.row-fluid