%div#main-wrapper
  %div#main-secondary-wrapper
    %div#main-left-panel
      %div#main-left-center
        %header#main-header-area
          %h3#main-header Guitar Tracker
        %div#main-left-panel-controls
          %button{class: "btn"}Add Guitar
    %div#main-right-panel
      %div#main-right-center
        %div.right-panel-row
          %div.guitar-element-area
          %div.guitar-element-area
          %div.guitar-element-area
          %div.guitar-element-area
        %div.right-panel-row