%script{type: "text/x-handlebars"}
  <div>Stuff</div>
  {{ outlet }}

%script{type: "text/x-handlebars", id: 'about'}
  <div>About</div>

#main-wrapper.row
  #main-secondary-wrapper
    #main-left-panel.large-4.columns
      #main-left-center.panel
        %header#main-header-area
          %h3#main-header Guitar Tracker
        #main-left-panel-controls
          %button{class: "btn"}Add Guitar
    #main-right-panel.large-8.columns
      #main-right-center.panel
        %ul.large-block-grid-4.small-block-grid-4#right-panel-unordered-list
          %li.guitar-element-area
            %p Somethin
          %li.guitar-element-area
            %p Somethin
          %li.guitar-element-area
            %p Somethin
          %li.guitar-element-area
            %p Somethin
