html, body{
  background-color: #FEFEFD;
  height: 100%;
  width:  100%;
}


#main-wrapper {
  height:  100%;
  width: 100%;
}

#main-secondary-wrapper {
  padding: 2em;

}

#main-header-area {
  background-color: orange;
}

#main-header {
}

#main-left-panel {
  background-color: beige;

}

#main-left-center {
  text-align: center;
}

#main-left-panel-controls {
  background-color: lightyellow;
}

#main-right-panel  {
  background-color: greenyellow;

}

#main-right-center {
  background-color: saddlebrown;

}


.guitar-element-area {

  background-color: darkgrey;

}
